Repository Symmetronic/typescript-library-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: use absolute imports by default
  .vscode/settings.json
Due: prettier --write

chore: use absolute imports by default (#86)
  .vscode/settings.json
Due: prettier --write

chore: update typecheck in build script
  README.md
  package.json
  tsconfig.json
Due: prettier --write

chore: update build script (#92)
  README.md
  package.json
  tsconfig.json
Due: prettier --write

chore: add editorconfig
  .editorconfig
Due: none

chore: add editorconfig (#93)
  .editorconfig
Due: none

chore: update editorconfig
  .editorconfig
Due: none

chore: update editorconfig (#94)
  .editorconfig
Due: none

chore: update gitattributes
  .gitattributes
Due: none

chore: update gitattributes (#114)
  .gitattributes
Due: none

chore: improve eslint config
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --write

chore: improve prettier setup
  .github/workflows/format.yml
  README.md
  package.json
Due: prettier --write

chore: improve eslint config (#115)
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --write

chore: improve prettier setup (#116)
  .github/workflows/format.yml
  README.md
  package.json
Due: prettier --write

chore: add copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

chore: improve copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

chore: add copilot instructions (#117)
  .github/copilot-instructions.md
Due: prettier --write

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore: add issue templates (#118)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore: add contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

chore: update contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

chore: add security guidelines
  SECURITY.md
Due: prettier --write

chore: update security guidelines
  CONTRIBUTING.md
Due: prettier --write

chore: add security guidelines (#121)
  SECURITY.md
Due: prettier --write

chore: remove table of contents from contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: add contributing guidelines (#120)
  CONTRIBUTING.md
Due: prettier --write

chore: remove table of contents from contributing guidelines (#122)
  CONTRIBUTING.md
Due: prettier --write

chore: add pull request template (#123)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{cjs,js,jsx,mjs,ts,tsx}
  prettier --write: ((any of: *.{cjs,js,jsx,mjs,ts,tsx}) or (any of: *.{css,less,scss})) or (any of: *.{html,json,md})
