Repository Symmetronic/typescript-library-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

.lintstagedrc.json:

{
  "*.{cjs,js,jsx,mjs,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest related --run --bail=1 --passWithNoTests"
  ],
  "*.{css,less,scss}": "prettier --write",
  "*.{html,json,md}": "prettier --write"
}

chore: update pre-commit hook
  .lintstagedrc.json
Due: prettier --write

chore: rename typecheck script
  .husky/pre-commit
  README.md
  package.json
Due: prettier --write

chore: update pre-commit hook (#3)
  .lintstagedrc.json
Due: prettier --write

chore: rename typecheck script (#4)
  .husky/pre-commit
  README.md
  package.json
Due: prettier --write

chore: add `test:coverage` script
  README.md
  package.json
Due: prettier --write

chore: add `test:coverage` script (#8)
  README.md
  package.json
Due: prettier --write

chore: Remove typecheck from pre-commit hook
  .husky/pre-commit
Due: none

chore: Remove typecheck from pre-commit hook (#53)
  .husky/pre-commit
Due: none

chore(deps-dev): bump eslint from 8.57.0 to 9.16.0
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore(deps-dev): bump eslint from 8.57.0 to 9.16.0 (#54)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: remove vitest from lintstaged config
  .lintstagedrc.json
Due: prettier --write

chore: remove vitest from lintstaged config (#55)
  .lintstagedrc.json
Due: prettier --write

chore: Remove ESLint from lintstaged config
  .lintstagedrc.json
Due: prettier --write

chore: Remove ESLint from lintstaged config (#56)
  .lintstagedrc.json
Due: prettier --write

chore: Add format workflow
  .github/workflows/format.yml
Due: none

fix: rename job
  .github/workflows/format.yml
Due: none

chore: Test format workflow
  src/index.ts
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

Revert "chore: Test format workflow"
  src/index.ts
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: Update workflow names
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: Add format workflow (#57)
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: Use recommended typescript-eslint config
  eslint.config.mjs
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: Use recommended typescript-eslint config (#58)
  eslint.config.mjs
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: extend @tsconfig/strictest
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: extend @tsconfig/strictest (#59)
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

docs: add conventional commits badge
  README.md
Due: prettier --write

docs: add conventional commits badge (#60)
  README.md
Due: prettier --write

chore: update typescript-eslint configuration
  eslint.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: update typescript-eslint configuration (#61)
  eslint.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: rename prettier config
  .prettierrc.json
  prettier.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: rename lint-staged config
  lint-staged.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: rename config files (#62)
  .prettierrc.json
  lint-staged.config.mjs
  prettier.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: update vitest types in vite config
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: regenerate package-lock.json
  package-lock.json
Due: prettier --write

chore: update cache directory in vite config
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: update eslint ignore config
  .eslintignore
  eslint.config.mjs
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: update eslint ignore config (#79)
  .eslintignore
  eslint.config.mjs
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore(deps-dev): add eslint-plugin-import
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: fix typecheck
  tsconfig.json
Due: prettier --write

chore(deps-dev): add eslint-plugin-import (#80)
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests

chore: configure absolute paths
  eslint.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest related --run --bail=1 --passWithNoTests
